<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Register number</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.register_number %></td>
        <td><%= student.status %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show', student, class: "btn btn-default", role: "button" %>
            <%= link_to 'Edit', edit_student_path(student), class: "btn btn-default", role: "button" %>
            <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", role: "button" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path, class: "btn btn-primary", role: "button" %>
